body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #DF5E5E;
  stroke-width: 2px;
}

/* Styles for the histogram*/
/*.bar {
  fill: steelblue;
}
*/
.bar text {
  fill: #fff;
}

/*div.bar {
	display: inline-block;
    width: 20px;
    height: 75px;    We'll override this later 
    background-color: teal;
    margin-right: 5px;
}
*/
svg {
  background-color: white;
  height: 300;
  width: 300;
  margin-right: 5;
}
circle {
  stroke: #C0C0C0;
}

rect.bordered {
        stroke: #E6E6E6;
        stroke-width:2px;   
      }

      text.mono {
        font-size: 9pt;
        font-family: Consolas, courier;
        fill: #aaa;
      }

      text.axis-workweek {
        fill: #000;
      }

      text.axis-worktime {
        fill: #000;
      }


</style>


